body {
margin: 0;
padding: 0;
background: #EEE;
font: 15px 'avenir';
}

/* Links */
a:link {
    color: grey;
    text-decoration: none;
}
a:visited {
    color: grey;
}
a:hover {
    color: grey;
    font-weight: bold;
}
a:active {
    color: grey;
}


/* Text */
.text{
float: center;
text-align: center;
font: 16px 'avenir';
}
.break{
    position: relative;
    font-size: 50px;
    text-align: center;
}
.wrap {
overflow: hidden;
margin: 10px;
}
.box {
float: left;
position: relative;
width: 20%;
padding-bottom: 20%;
}


/* For filtered images ('best')*/
.boxInnerBest {
position: absolute;
left: 10px;
right: 10px;
top: 10px;
bottom: 10px;
overflow: hidden;
}

.boxInnerBest img {
width: 100%;
}

.boxInnerBest .titleBoxBest {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin-bottom: -50px;
background: #000;
background: #62AE5C;
color: grey;
padding: 10px;
text-align: center;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}


/* For unfiltered images (not best) */
.boxInnerYellow {
position: absolute;
left: 10px;
right: 10px;
top: 10px;
bottom: 10px;
overflow: hidden;
}

.boxInnerYellow img {
width: 100%;
}

.boxInnerYellow .titleBoxYellow {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin-bottom: -50px;
background: #F9F476;
color: grey;
padding: 10px;
text-align: center;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

/* For touch/non-touch displays */
body.no-touch .boxInnerBest:hover .titleBoxBest, 
body.no-touch .boxInnerYellow:hover .titleBoxYellow, 
body.touch .boxInnerBest.touchFocus .titleBoxBest,
body.touch .boxInnerYellow.touchFocus .titleBoxYellow
{
margin-bottom: 0;
}
